<% if @user_not_found %>
	alert("Käyttäjää ei löydy!");
<% else %>
	// Set new current_bet
	$("#game_bet_amount").text("<%= @current_bet %>");

	// Set new winning prices
	$("#winning_line_AAA").text("<%= @AAA * @current_bet %>");
	$("#winning_line_BBB").text("<%= @BBB * @current_bet %>");
	$("#winning_line_CCC").text("<%= @CCC * @current_bet %>");
	$("#winning_line_ABC").text("<%= @ABC * @current_bet %>");
	$("#winning_line_9A").text("<%= @A9 * @current_bet %>");
	$("#winning_line_9B").text("<%= @B9 * @current_bet %>");
	$("#winning_line_9C").text("<%= @C9 * @current_bet %>");

	// Refresh chat messages
	$("#chat_messages").empty();
	$("#message_field").val("");
	<% Chat.all.order("created_at DESC").limit(5).reverse.each do |chat| %>
		$("#chat_messages").append(
			"<p class='chat_message'>" +
				"<span class='chat_message_time'><%= chat.created_at.strftime('%H' + ':' + '%M' + ':' + '%S') %> - </span>" +
				"<span class='chat_message_username'><%= chat.username %></span> " +
				"<span class='chat_message_content'><%= chat.message %></span>" +
			"</p>"
			);
	<% end %>

	// Refresh high scores
	$("#high_score_table_body").empty();
	<% HighScore.order("game_score DESC").limit(5).each do |high_score| %>

		$("#high_score_table_body").append(
			"<tr>" +
				"<td>" + "<%= high_score.username %>" + "</td>" +
				"<td>" + "<%= high_score.game_score.to_s %>" + "</td>" +
			"</tr>"
			);
	<% end %>

	// Refresh Jackpot list
	$("#jackpots_table_body").empty();
	<% Jackpot.order("created_at ASC").each do |jackpot| %>
		$("#jackpots_table_body").append(
			"<tr>" +
				"<td><%= jackpot.created_at.strftime('%e' + '.' + '%-m' + '.' + '%Y') %></td>" +
				"<td><%= jackpot.username %></td>" +
				"<td><%= jackpot.winning_line %></td>" +
				"<td><%= jackpot.bet.to_s %></td>" +
				"<td><%= jackpot.winning_price.to_s %></td>" +
			"</tr>"
			);
	<% end %>
<% end %>