// Refresh chat messages
$("#chat_messages").empty();
$("#message_field").val("");
<% @messages.each do |message| %>
	$("#chat_messages").append(
		"<p class='chat_message'>" +
			"<span class='chat_message_time'><%= message.created_at.strftime('%H' + ':' + '%M' + ':' + '%S') %> - </span>" +
			"<span class='chat_message_username'><%= message.username %></span> " +
			"<span class='chat_message_content'><%= message.message %></span>" +
			"</p>"
			);
<% end %>

// Refresh high scores
$("#high_score_table_body").empty();
<% @highscores.each do |high_score| %>

	$("#high_score_table_body").append(
		"<tr>" +
			"<td>" + "<%= high_score.username %>" + "</td>" +
			"<td>" + "<%= high_score.game_score.to_s %>" + "</td>" +
		"</tr>"
		);
<% end %>

// Refresh Jackpot list
$("#jackpots_table_body").empty();
<% @jackpots.each do |jackpot| %>
	$("#jackpots_table_body").append(
		"<tr>" +
			"<td><%= jackpot.created_at.strftime('%e' + '.' + '%-m' + '.' + '%Y') %></td>" +
			"<td><%= jackpot.username %></td>" +
			"<td><%= jackpot.winning_line %></td>" +
			"<td><%= jackpot.bet.to_s %></td>" +
			"<td><%= jackpot.winning_price.to_s %></td>" +
		"</tr>"
		);
<% end %>