$(".game_options").css("display", "none");
$(".end_game").css("display", "none");
$(".game_over").css("display", "block");
$("#end_game_score").text("<%= @game_money %>");

$("#high_score_table_body").empty();

<% @all_high_scores.order("game_score DESC").limit(5).each do |high_score| %>

	if ("<%= @username %>".valueOf() == "<%= high_score.username %>".valueOf() &&
		"<%= @game_money %>".valueOf() == "<%= high_score.game_score %>".valueOf()) {
		$("#high_score_table_body").append("<tr style='background-color: #ffcc66;'>" +
			"<td>" + "<%= high_score.username %>" + "</td>" +
			"<td>" + "<%= high_score.game_score.to_s %>" + "</td>" +
			"</tr>");
	} else {
		$("#high_score_table_body").append("<tr>" +
			"<td>" + "<%= high_score.username %>" + "</td>" +
			"<td>" + "<%= high_score.game_score.to_s %>" + "</td>" +
			"</tr>");
	}
<% end %>