<div class="content">

	<div class="game_on">
		<div class="game_options">
			<div class="current_player">
				<span>Pelaaja: </span>
				<span id="current_player_username"><%= @user.username unless @user.nil? %></span>
			</div>

			<div id="info_buttons">
				<button class="btn btn-default info_buttons" data-toggle="collapse" data-target="#winning_lines">Voittolinjat</button>

				<%= link_to "Peliohjeet", { controller: 'game_system', action: 'info' }, class: "btn btn-default", id: "game_info", data: { modal: true } %>
			</div>

			<div id="winning_lines" class="collapse info_buttons">
				<p>
					A A A = <span id="winning_line_AAA"><%= @AAA %></span><br>
					B B B = <span id="winning_line_BBB"><%= @BBB %></span><br>
					C C C = <span id="winning_line_CCC"><%= @CCC %></span><br>
					A B C = <span id="winning_line_ABC"><%= @ABC %></span><br>
					<span id="A9">9 x A = <span id="winning_line_9A"><%= @A9 %></span></span><br>
					<span id="B9">9 x B = <span id="winning_line_9B"><%= @B9 %></span></span><br>
					<span id="C9">9 x C = <span id="winning_line_9C"><%= @C9 %></span></span>
				</p>
			</div>

			<div class="slots">
				<p id="upper_slots_row">$ $ $</p>
				<p id="middle_slots_row">$ $ $</p>
				<p id="bottom_slots_row">$ $ $</p>
			</div>

			<h3 id="winner"><%= @winning_text %></h3>

			<button id="shuffle_slots_button" class="btn btn-success">Pelaa</button>

			<br>

			<div id="bet_div">
				<span id="game_money">Rahaa pelattavana: </span>
				<span id="game_money_amount"><%= @game_money.to_s %></span>
				<br>
				<span id="game_bet">Panos: </span>
				<span id="game_bet_amount"><%= @current_bet %></span>
				<div id="bet_lower" data-url="<%= url_for controller: 'game_system', action: 'bet_lower' %>">
					<button id="bet_lower_button" class="btn btn-warning">-</button>
				</div>
				<div id="bet_higher" data-url="<%= url_for controller: 'game_system', action: 'bet_higher' %>">
					<button id="bet_higher_button" class="btn btn-warning">+</button>
				</div>
			</div>

			<br>

			<div class="end_game" id="end_game_form">
				<button class="btn btn-primary" id="end_game_button">Lopeta peli</button>
			</div>
		</div>
	</div>

	<div class="chat">
		<p>Vieraskirja-chat</p>
		<div id="chat_messages">
			<% Chat.all.order("created_at ASC").each do |chat| %>
				<p class="chat_message">
					<span class="chat_message_time"><%= chat.created_at.strftime("%H" + ":" + "%M" + ":" + "%S") %> - </span>
					<span class="chat_message_username"><%= chat.username %> </span>
					<span class="chat_message_content"> <%= chat.message %></span>
				</p>
			<% end %>
		</div>

		<label for="message_field">Kirjoita viesti</label>
		<input type="text" name="message" id="message_field" maxlength="140">
		<button class="btn btn-danger" id="chat_button">Chat!</button>
		<br>
		<button class="btn" id="refresh_chat_button">Päivitä Chat</button>
	</div>

	<div class="high_scores">
		<h3>High Scores</h3>
		<table class="table table-bordered" id="high_scores_table">
			<thead>
				<tr>
					<th>Pelaaja</th>
					<th>Pisteet</th>
				</tr>
			</thead>
			<tbody id="high_score_table_body">
				<% HighScore.order("game_score ASC").limit(5).each do |high_score| %>
					<tr>
						<td><%= high_score.username %></td>
						<td><%= high_score.game_score.to_s %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>

	<div class="start_game" id="start_game_form">
		<label for="username">Nimimerkki</label>
		<br>
		<input type="text" name="username" id="username" autofocus="true">
		<br><br>
		<button class="btn btn-primary" id="start_game_button">Aloita peli</button>
	</div>

	<div class="game_over">
		<span>Peli loppui.</span>
		<br>
		<span class="eng_game_text">Pisteesi: </span>
		<span class="eng_game_text" id="end_game_score"></span>

		<br><br>

		<div class="new_game" id="new_game_form">
			<button class="btn btn-primary" id="new_game_button">Uusi peli</button>
		</div>
	</div>
</div>